.container {
    overflow-x: hidden;
}

.nav-addr {
    background-color: rgba(68, 80, 101, 0.8);
    color: #ffffff;
    padding-left: 30px;
}

.search-zone {
    width: 100%;
    min-width: 1170px;
    height: 56px;
    background: #eef1f7;
    font-family: "微软雅黑";
    font-size: 16px;
}

.search-type {
    width: 100px;
    height: 36px;
    color: #5a6779;
    padding-left: 8px;
    position: relative;
    left: 30px;
    top: 10px;
}

input.search-text {
    width: 248px;
    height: 34px;
    padding: 0 8px 0 8px;
    border: 1px solid #b0b9c6;
    border-radius: 3px;
    position: relative;
    left: 40px;
    top: 8px;
}

select.search-text {
    width: 266px;
    height: 36px;
    padding: 0 8px 0 8px;
    border: 1px solid #b0b9c6;
    border-radius: 3px;
    position: relative;
    left: 40px;
    top: 8px;
}

.search-btn {
    width: 76px;
    height: 36px;
    background: #478de4;
    border: 0;
    border-radius: 3px;
    color: white;
    position: relative;
    left: 60px;
    top: 10px;
}

/********************下拉菜单begin********************/
#nav {
    /*置父容器高度，宽度，背景颜色，容器位置*/
    /* background: #eee; */
    width: 750px;
    height: 55px;
    /* position: absolute;
    top: 1px;
    right: 21px; */
    position: relative;
    float: right;
    margin-right: 21px;
    z-index: 110;
}

#nav ul {
    /*去掉点点*/
    list-style: none;
}

#nav ul li {
    width: 100px;
    /*每一个li左浮动形成横排，高度占满父容器形成文字垂直居中，文字水平居左*/
    float: left;
    text-align: left;
    line-height: 55px;
    color: #478de4;
    padding: 0 25px;
    display: block;
    position: relative;
    /*给子ul定位用的*/
}

#nav ul li:hover {
    color: #fff;
    background-color: #478de4;
}

#nav ul li ul {
    background-color: #ffffff;
    border: 1px solid #bec5d4;
    border-top: none;
    position: absolute;
    /*相对于父li的位置进行定位*/
    left: 0;
    display: none;
    /*隐藏下拉菜单*/
}

#nav ul li ul li {
    width: 98px;
    color: #445065;
    line-height: 36px;
    float: none;
}

#nav ul li ul li:first-child {
    margin-top: 2px;
}

#nav ul li ul li:last-child {
    margin-bottom: 2px;
}

#nav ul li ul li:hover {
    border-left-color: #478de4;
    border-right-color: #478de4;
}

#nav ul li:hover ul {
    display: block;
}

/********************下拉菜单end********************/

.config {
    width: 250px;
    background: #ffffff;
    padding: 10px;
    display: none;
}

.config > table {
    width: 250px;
    font-size: 14px;
    color: #445065;
}

.config tr {
    height: 36px;
}

.config tr td:first-child {
    width: 120px;
}

.editInfo {
    height: 26px;
    width: 130px;
    line-height: 26px;
    border: 1px solid #d7dbe2;
    border-radius: 3px;
    padding: 0 6px 0 6px;
    color: #57647c;
}

#re_track {
    width: 100px;
    height: 30px;
    background: #478de4;
    color: #ffffff;
    border: 0;
    border-radius: 3px;
}

.data-zone {
    width: 100%;
    height: auto !important;
    overflow: visible !important;
    height: 100% !important;
    position: fixed;
    padding: 10px 0px 8px 0px;
    /* background: lightgreen; */
}

.map {
    /* background: lightgreen; */
}

.table {
    position: relative;
}

#car_list {
    /* background: url(../../resources/images/operate/hide.png); */
    background: rgba(68, 80, 101, 0.8) url(../images/operate/toggle.png) no-repeat center;
    /* background: red; */
    height: 16px;
    width: 100%;
    /* width: 90px; */
    /* border: #738199 solid 1px;
    border-bottom: none; */
    position: absolute;
    /* left: 50%;
    margin-left: -45px; */
    top: -16px;
    z-index: auto;
}

.table-list {
    /**make table can scroll**/
    height: 340px;
    overflow: auto;
    /** add some style**/
    box-shadow: 0 0 1px 3px #e6e7e9;
}

.table-head {
    width: 100%;
    height: 36px;
    color: #445065;
    font-weight: 500;
    background: #e6e7e9;
}

.table-body {
    width: 100%;
    height: 300px;
    color: #5a6779;
    font-size: 13px;
    overflow: auto;
}

.data-zone th {
    text-align: center;
    vertical-align: middle;
    height: 30px;
}

.data-zone td {
    text-align: center;
    vertical-align: middle;
    height: 30px;
    border-bottom: 1px solid #e6e7e9;
}

/********************表格列begin********************/
.car-num {
    width: 160px;
}

.car-company {
    width: 200px;
}

.car-type {
    width: 120px;
}

.car-coordinate {
    width: 200px;
}

.car-velocity {
    width: 120px;
}

.car-aspect {
    width: 120px;
}

.car-status {
    width: 160px;
}

/*.car-lock {
    width: 120px;
}*/

.car-alarm {
    width: 200px;
}

.car-online {
    width: 120px;
}
/********************表格列end********************/

/******************操作日志栏start*********************/
.monitor-log {
    width: 420px;
    height: 340px;
    float: right;
    padding-left: 4px;
}

.log-title {
    height: 42px;
    background: #a5a6a6;
    font-size: 18px;
    font-weight: bold;
    line-height: 42px;
    letter-spacing: 2px;
}

.log-box {
    height: 288px;
    border: 3px solid #a5a6a6;
    border-top: 0;
    text-align: left;
    overflow: auto;
    padding: 5px;
}

.log-content {
    font-size: 14px;
    color: #272727;
    font-weight: bold;
    margin: 5px;
}

.log-time {
    font-weight: normal;
}

.log-done {
    color: #478de4;
    font-weight: bolder;
}

.log-fail {
    color: #d80e0e;
    font-weight: bolder;
}

/******************操作日志栏end*********************/

/*************************hidden-box start************************/
.hidden-box {
    display: none;
    width: 540px;
    background: #ffffff;
}

.info-zone {
    width: 480px;
    padding: 15px 30px;
    height: 308px;
    overflow: auto;
}

.base-info {
    width: 480px;
}

.info-title {
    width: 485px;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    background: #e6e7e9;
    position: relative;
    left: -15px;
}

.base-table {
    width: 480px;
    font-size: 14px;
    color: #445065;
    margin-top: 10px;
}

.hidden-box tr {
    height: 40px;
}

.hidden-box td {
    text-align: left;
}

.base-info tr td:first-child {
    width: 126px;
}

.editInfo {
    height: 26px;
    width: 334px;
    line-height: 26px;
    border: 1px solid #d7dbe2;
    border-radius: 3px;
    padding: 0 6px 0 6px;
    color: #57647c;
}

select.editInfo {
    height: 28px;
    width: 348px;
}

.oper-zone {
    width: 540px;
    height: 54px;
    background: #e6e7e9;
    position: fixed;
}

#cancel {
    width: 100px;
    height: 30px;
    border: 1px solid #478de4;
    border-radius: 3px;
    background: #ffffff;
    color: #40454b;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    right: 124px;
}

#confirm {
    width: 100px;
    height: 30px;
    background: #478de4;
    color: #ffffff;
    border: 0;
    border-radius: 3px;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    right: 14px;
}

/*************************hidden-box end**************************/