<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tipray.dao.LockDao">
	<resultMap id="fullResultMap" type="com.tipray.bean.baseinfo.Lock" >
        <id column="id" property="id" />
        <result column="vehicle_id" property="carId" />
        <result column="lock_index" property="index" />
        <result column="lock_device_id" property="lockId" />
        <result column="seat" property="seat" />
        <result column="seat_name" property="seatName" />
        <result column="seat_index" property="seatIndex" />
        <result column="store_id" property="storeId" />
        <result column="is_allowed_open" property="allowOpen" />
        <result column="bind_status" property="bindStatus" />
        <result column="vehicle_number" property="carNumber" />
    </resultMap>
	<sql id="select_columns">
		l.*,fn_type2name('lockSeat',l.seat) seat_name,c.vehicle_number vehicle_number
	</sql>
	
	<select id="findAll" resultMap="fullResultMap">
		select
		<include refid="select_columns"></include>
		from tbl_lock l,tbl_vehicle c
		where l.vehicle_id=c.id and l.is_has_bind = 1 and l.bind_status = 2
	</select>
	
	<select id="getByLockId" resultMap="fullResultMap">
		select
		<include refid="select_columns"></include>
		from tbl_lock l,tbl_vehicle c
		where l.vehicle_id=c.id
		and l.is_has_bind = 1
		and l.bind_status = 2
		and l.lock_device_id=#{lockId}
		and c.id=#{carId}
	</select>
	
	<select id="findLocksByCarId" resultMap="fullResultMap">
		select
		<include refid="select_columns"></include>
		from tbl_lock l,tbl_vehicle c
		where l.vehicle_id=c.id and l.lock_device_id != 0
		and c.id=#{carId}
	</select>

	<select id="findTriggedLocksByCarId" resultMap="fullResultMap">
		select
		<include refid="select_columns"></include>
		from tbl_lock l,tbl_vehicle c
		where l.vehicle_id=c.id and l.is_has_bind = 1 and l.bind_status = 2 and l.lock_device_id != 0
		and c.id=#{carId}
	</select>

	<select id="getMaxLockIndexByCarId" parameterType="java.lang.Long" resultType="java.lang.Integer">
		select max(lock_index) from tbl_lock where lock_device_id != 0 and vehicle_id = #{carId}
	</select>
	
	<select id="findUnusedLocks" resultType="java.lang.Integer">
		SELECT
			d.device_id
		FROM
			tbl_device d
		WHERE
			d.type = 2
			AND d.is_disallowed = 0
			AND d.is_invalid = 0
			AND d.is_in_use = 0
			<!--AND d.device_id NOT IN ( SELECT l.lock_device_id FROM tbl_lock l )-->
	</select>
	
	<insert id="bindLocks" parameterType="java.util.List">
		insert into
		tbl_lock(vehicle_id,store_id,seat,seat_index,lock_device_id,is_allowed_open,lock_index) values
		<foreach collection="list" item="item" index="index" separator="," >
			(
				#{item.carId},
				#{item.storeId},
				#{item.seat},
				#{item.seatIndex},
				#{item.lockId},
				#{item.allowOpen},
				ifnull(#{item.index},0)
			)
		</foreach>
	</insert>
	
	<select id="findBindingLockDeviceIds" parameterType="java.lang.String" resultType="java.lang.Integer">
		select l.lock_device_id from tbl_lock_binding l, tbl_vehicle v
		where l.vehicle_id = v.id and l.last_valid_time > now() and v.vehicle_number = #{carNumber}
	</select>

	<select id="findLockStatusByLocks" parameterType="java.util.List" resultType="java.util.Map">
		SELECT * FROM `tbl_lock_status` WHERE
		<foreach collection="list" item="lock" index="index" separator="or">
	        (lock_id = #{lock.id} AND change_time = (SELECT MAX(change_time) FROM `tbl_lock_status` WHERE lock_id = #{lock.id}))
	    </foreach> 
	</select>
	
	<select id="getVehicleIdByLock" parameterType="com.tipray.bean.baseinfo.Lock" resultType="java.lang.Long">
		SELECT
			vehicle_id 
		FROM
			tbl_lock 
		WHERE
			lock_device_id = #{lockId} 
			AND store_id = #{storeId} 
			AND seat = #{seat} 
			AND seat_index = #{seatIndex} 
			AND is_allowed_open = #{allowOpen}
	</select>
	
	<select id="findVehicleIdByLocks" parameterType="java.util.List" resultMap="fullResultMap">
		SELECT t1.vehicle_id, t2.lock_device_id FROM
		(
		SELECT vehicle_id, lock_device_id FROM tbl_lock WHERE
		<foreach collection="list" item="lock" index="index" separator="or">
	        (
	        lock_device_id = #{lock.lockId} 
			AND store_id = #{lock.storeId} 
			AND seat = #{lock.seat} 
			AND seat_index = #{lock.seatIndex} 
			AND is_allowed_open = #{lock.allowOpen}
	        )
	    </foreach> 
	    ) t1 
	    RIGHT JOIN
	    ( 
	    SELECT lock_device_id FROM tbl_lock WHERE lock_device_id IN
	    <foreach collection="list" item="lock" index="index" separator="," open="(" close=")">
	        #{lock.lockId}
	    </foreach> 
	    ) t2
		ON t1.lock_device_id = t2.lock_device_id
	</select>

	<select id="findlocksByCarNo" parameterType="java.lang.String" resultType="java.util.Map">
        SELECT
        	l.vehicle_id,
        	l.id lock_id,
            l.store_id,
            l.seat,
            l.seat_index,
            l.lock_device_id,
            l.is_allowed_open,
            l.bind_status,
            l.is_has_bind,
            l.lock_index
--             IFNULL( s.`status`, 0 ) switch_status
        FROM
            tbl_lock l,
--             LEFT JOIN tbl_lock_status s ON l.store_id = s.store_id
--             AND l.seat = s.seat
--             AND l.seat_index = s.seat_index
--             AND l.lock_device_id = s.lock_device_id
--             AND s.id = ( SELECT MAX( t.id ) FROM tbl_lock_status t WHERE t.store_id = s.store_id
--                                                                                     AND t.seat = s.seat
--                                                                                     AND t.seat_index = s.seat_index
--                                                                                     AND t.lock_device_id = s.lock_device_id ),
            tbl_vehicle v
        WHERE
            l.vehicle_id = v.id
            AND v.vehicle_number = #{carNumber}
    </select>

	<select id="getLockStatus" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT
            `status`
        FROM
            tbl_lock_status
        WHERE
            vehicle_id = #{vehicle_id}
            AND store_id = #{store_id}
            AND seat = #{seat}
            AND seat_index = #{seat_index}
            AND lock_device_id = #{lock_device_id}
            <!--
            AND change_time = ( SELECT MAX( t.change_time ) FROM tbl_lock_status t WHERE t.vehicle_id = #{vehicle_id}
             																		AND t.store_id = #{store_id}
                                                                                    AND t.seat = #{seat}
                                                                                    AND t.seat_index = #{seat_index}
                                                                                    AND t.lock_device_id = #{lock_device_id} )
                                                                                    -->
        ORDER BY
        	change_time DESC,
            id DESC
            LIMIT 1
    </select>

	<select id="getByIdForAppAlarm" parameterType="java.lang.Long" resultType="java.util.Map">
		SELECT
			id lock_id,
			lock_device_id,
			store_id,
			seat,
			seat_index,
			is_allowed_open,
			bind_status,
			is_has_bind,
			lock_index
		FROM
			tbl_lock
		WHERE id = #{id}
	</select>

    <update id="updateLockRemarks" parameterType="java.util.List">
        update tbl_lock set
        remark =
        <foreach collection="list" item="item" index="index" separator=" " open="case id" close="end">
            when #{item.id} then #{item.remark}
        </foreach>
        where id in
        <foreach collection="list" item="item" index="index" separator="," open="(" close=")">
            #{item.id, jdbcType=INTEGER}
        </foreach>
    </update>

	<select id="getLockDeviceIdById" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select lock_device_id from tbl_lock where id = #{id}
    </select>

	<select id="findIdsByDevIds" resultType="com.tipray.bean.baseinfo.Lock">
		select id, lock_device_id lockId
		from tbl_lock
		where vehicle_id = #{carId}
		and lock_device_id in (${devIds})
	</select>

</mapper>