<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tipray.dao.VehicleDao">
	<resultMap id="fullResultMap" type="com.tipray.bean.baseinfo.Vehicle" >
        <id column="id" property="id" />
        <result column="vehicle_number" property="carNumber" />
        <result column="store_num" property="storeNum" />
        <result column="sim" property="sim" />
        <result column="transport_card_id" property="transportCard.transportCardId" />
        <result column="vehicle_device_id" property="vehicleDevice.deviceId" />
        <result column="vehicle_device_model" property="vehicleDevice.model" />
        <result column="trans_company_id" property="transCompany.id" />
        <result column="trans_company_name" property="transCompany.name" />
        <result column="belong_type" property="type" />
        <result column="type_name" property="typeName" />
        <result column="remark" property="remark" />
        <result column="gmt_create" property="createDate" />
        <result column="gmt_modified" property="modifyDate" />
    </resultMap>
	<sql id="select_columns">
		c.id,
		c.vehicle_number,
		c.store_num,
		c.sim,
		c.transport_card_id,
		c.vehicle_device_id,
		d.model vehicle_device_model,
		c.trans_company_id,
		t.`name` trans_company_name,
		c.belong_type,
		fn_type2name('carType', c.belong_type) type_name,
		c.remark
	</sql>
	
	<select id="findAll" resultMap="fullResultMap">
		SELECT
			<include refid="select_columns"></include>
		FROM
			tbl_vehicle c
			LEFT JOIN tbl_device d ON c.vehicle_device_id = d.device_id
			LEFT JOIN tbl_trans_company t ON c.trans_company_id = t.id
			AND t.is_invalid = 0
		WHERE
			c.is_invalid = 0
	</select>
	
	<insert id="add" useGeneratedKeys="true" keyProperty="id" parameterType="com.tipray.bean.baseinfo.Vehicle">
		insert into
		tbl_vehicle(vehicle_number,store_num,transport_card_id,trans_company_id,belong_type,remark)
		values(#{carNumber},#{storeNum},#{transportCard.transportCardId},#{transCompany.id},#{type},ifnull(#{remark},''))
	</insert>
	
	<update id="update" parameterType="com.tipray.bean.baseinfo.Vehicle">
		update tbl_vehicle set
			vehicle_number		= #{carNumber},
			store_num			= #{storeNum},
			sim					= IFNULL(#{sim}, ''),
			transport_card_id	= #{transportCard.transportCardId},
			trans_company_id	= #{transCompany.id},
			belong_type			= #{type},
			remark				= IFNULL(#{remark}, '')
		where id				= #{id}
	</update>
	
	<select id="getTransportCardIdById" parameterType="java.lang.Long" resultType="java.lang.Long">
		SELECT transport_card_id FROM tbl_vehicle WHERE id = #{id};
	</select>
	
	<update id="terminalBind">
		update tbl_vehicle set
		vehicle_device_id=#{terminalId}
		where vehicle_number=#{carNumber}
	</update>
	<update id="terminalUnbind">
		update tbl_vehicle set
		vehicle_device_id = 0
		where vehicle_number=#{carNumber} and vehicle_device_id=#{terminalId}
	</update>
	
	<update id="delete" parameterType="java.lang.Long">
		update tbl_vehicle set 
		is_invalid=1 
		where id=#{id}
	</update>

	<select id="getCarNumberByTerminalId" parameterType="java.lang.Integer" resultType="java.lang.String">
        select vehicle_number from tbl_vehicle where vehicle_device_id = #{terminalId};
    </select>

	<select id="countByCarNumber" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(vehicle_number) from tbl_vehicle where vehicle_number = #{carNumber}
    </select>

    <update id="updateByCarNumber" parameterType="com.tipray.bean.baseinfo.Vehicle">
        update tbl_vehicle set
		store_num           = #{storeNum},
		sim                 = ifnull(#{sim},''),
		transport_card_id   = #{transportCard.transportCardId},
		trans_company_id    = #{transCompany.id},
		belong_type         = #{type},
		remark              = ifnull(#{remark},'')
		where vehicle_number = #{carNumber}
    </update>

    <delete id="deleteByCarNumber" parameterType="java.lang.String">
        delete from tbl_vehicle where vehicle_number = #{carNumber}
    </delete>

	<select id="getById" parameterType="java.lang.Long" resultMap="fullResultMap">
		SELECT
			<include refid="select_columns"></include>
		FROM
			tbl_vehicle c
			LEFT JOIN tbl_device d ON c.vehicle_device_id = d.device_id
			LEFT JOIN tbl_trans_company t ON c.trans_company_id = t.id
			AND t.is_invalid = 0
		WHERE
			c.is_invalid = 0
			AND c.id = #{id}
	</select>
	
	<select id="getByCarNo" parameterType="java.lang.String" resultMap="fullResultMap">
		SELECT
			<include refid="select_columns"></include>
		FROM
			tbl_vehicle c
			LEFT JOIN tbl_device d ON c.vehicle_device_id = d.device_id
			LEFT JOIN tbl_trans_company t ON c.trans_company_id = t.id
			AND t.is_invalid = 0
		WHERE
			c.is_invalid = 0
			AND c.vehicle_number = #{carNo}
	</select>
	
	<select id="getCarByTerminalId" parameterType="java.lang.Integer" resultMap="fullResultMap">
		SELECT
			<include refid="select_columns"></include>
		FROM
			tbl_vehicle c
			LEFT JOIN tbl_device d ON c.vehicle_device_id = d.device_id
			LEFT JOIN tbl_trans_company t ON c.trans_company_id = t.id
			AND t.is_invalid = 0
		WHERE
			c.is_invalid = 0
			AND c.vehicle_device_id = #{terminalId}
	</select>
	
	<select id="findByTransCompany" parameterType="com.tipray.bean.baseinfo.TransCompany" resultMap="fullResultMap">
		SELECT
			<include refid="select_columns"></include>
		FROM
			tbl_vehicle c
			LEFT JOIN tbl_device d ON c.vehicle_device_id = d.device_id
			LEFT JOIN tbl_trans_company t ON c.trans_company_id = t.id
			AND t.is_invalid = 0
		WHERE
			c.is_invalid = 0
			AND c.trans_company_id = #{id}
	</select>

	<select id="count" parameterType="com.tipray.bean.baseinfo.Vehicle" resultType="java.lang.Long">
		select count(*) from tbl_vehicle where is_invalid=0 
		<if test="carNumber != null and carNumber != ''">
			and vehicle_number = #{carNumber}
		</if>
		<if test="transCompany != null and transCompany.id != null and transCompany.id !=-2">
			and trans_company_id = #{transCompany.id}
		</if>
	</select>
	
	<select id="findByPage" resultMap="fullResultMap">
		SELECT
			<include refid="select_columns"></include>
		FROM
			tbl_vehicle c
			LEFT JOIN tbl_device d ON c.vehicle_device_id = d.device_id
			LEFT JOIN tbl_trans_company t ON c.trans_company_id = t.id
			AND t.is_invalid = 0
		WHERE c.is_invalid = 0
		<if test="entity.carNumber != null and entity.carNumber != ''">
			and c.vehicle_number = #{entity.carNumber}
		</if>
		<if test="entity.transCompany != null and entity.transCompany.id != null and entity.transCompany.id !=-2">
			and c.trans_company_id = #{entity.transCompany.id}
		</if>
		order by c.id asc  
		limit #{page.startRow}, #{page.rows}
	</select>
	
	<select id="findUnusedTerminal" resultType="com.tipray.bean.baseinfo.Device">
	 	select d.device_id deviceId, d.model model
		from tbl_device d
		where d.type=1 and d.is_disallowed=0 and d.is_invalid=0
		 and d.device_id not in 
		 (select c.vehicle_device_id from tbl_vehicle c)
	</select>
	
	<select id="findBindedCars" resultMap="fullResultMap">
	 	select
			<include refid="select_columns"></include>
		from 
			(tbl_vehicle c left join tbl_device d on c.vehicle_device_id=d.device_id),
			tbl_trans_company t
		where c.trans_company_id=t.id and c.is_invalid=0
			and c.vehicle_device_id > 0
	</select>
	
	<select id="findUnbindedCars" resultMap="fullResultMap">
	 	select
			<include refid="select_columns"></include>
		from 
			(tbl_vehicle c left join tbl_device d on c.vehicle_device_id=d.device_id),
			tbl_trans_company t
		where c.trans_company_id=t.id and c.is_invalid=0
			and c.vehicle_device_id=0
	</select>
	
	<select id="selectCars" resultType="com.tipray.bean.DropdownData">
		SELECT
			v.id id,
			v.vehicle_number name,
			<!-- true disabled,
			false selected, -->
			v.trans_company_id groupId,
			c.name groupName
		FROM
			tbl_vehicle v
			LEFT JOIN tbl_trans_company c ON v.trans_company_id = c.id
	</select>

    <resultMap id="comMap" type="java.util.Map" >
        <result column="id" property="id" javaType="java.lang.Long" />
        <result column="name" property="name" javaType="java.lang.String" />
    </resultMap>

    <select id="findComsWithCar" resultMap="comMap">
        SELECT
            v.trans_company_id id,
            c.`name`
        FROM
            tbl_vehicle v
            LEFT JOIN tbl_trans_company c ON v.trans_company_id = c.id
        WHERE
            v.is_invalid = 0
            <if test="_parameter > 0">
                AND v.trans_company_id = #{comId}
            </if>
        GROUP BY
            v.trans_company_id;
    </select>

    <select id="findComsWithBindedCar" resultMap="comMap">
        SELECT
            v.trans_company_id id,
            c.`name`
        FROM
            tbl_vehicle v
            LEFT JOIN tbl_trans_company c ON v.trans_company_id = c.id
        WHERE
            v.is_invalid = 0 AND v.vehicle_device_id != 0
        <if test="_parameter > 0">
            AND v.trans_company_id = #{comId}
        </if>
        GROUP BY
            v.trans_company_id;
    </select>

    <select id="findComsWithOnlineCar" resultMap="comMap">
        SELECT
            v.trans_company_id id,
            c.`name`
        FROM
            tbl_vehicle_realtime_status s,
            tbl_vehicle v
            LEFT JOIN tbl_trans_company c ON v.trans_company_id = c.id
        WHERE
            v.is_invalid = 0
            AND v.vehicle_device_id != 0
            AND v.id = s.vehicle_id
            AND s.is_online = 1
        <if test="_parameter > 0">
            AND v.trans_company_id = #{comId}
        </if>
        GROUP BY
            v.trans_company_id;
    </select>

    <resultMap id="carNoMap" type="java.util.Map" >
        <result column="id" property="carId" javaType="java.lang.Long" />
        <result column="vehicle_number" property="carNumber" javaType="java.lang.String" />
        <result column="trans_company_id" property="comId" javaType="java.lang.Long" />
    </resultMap>

    <select id="findCarNumbers" resultMap="carNoMap">
        SELECT id, vehicle_number, trans_company_id FROM tbl_vehicle WHERE is_invalid = 0
        <if test="_parameter > 0">
            AND trans_company_id = #{comId}
        </if>
    </select>

    <select id="findBindedCarNumbers" resultMap="carNoMap">
        SELECT id, vehicle_number, trans_company_id FROM tbl_vehicle WHERE is_invalid = 0 AND vehicle_device_id != 0
        <if test="_parameter > 0">
            AND trans_company_id = #{comId}
        </if>
    </select>

    <select id="findOnlineCarNumbers" resultMap="carNoMap">
        SELECT
            v.id,
            v.vehicle_number,
            v.trans_company_id
        FROM
            tbl_vehicle v,
            tbl_vehicle_realtime_status s
        WHERE
            v.is_invalid = 0
            AND v.vehicle_device_id != 0
            AND v.id = s.vehicle_id
            AND s.is_online = 1
        <if test="_parameter > 0">
            AND v.trans_company_id = #{comId}
        </if>
    </select>

	
	<select id="getCarStatus" parameterType="java.lang.String" resultType="com.tipray.bean.VehicleStatus">
		SELECT
            v.vehicle_number carNumber,
            rs.is_online `online`,
            ss.`status` `status`,
            fn_type2name ( 'carStatus', ss.`status` ) statusName
        FROM
            tbl_vehicle v
            LEFT JOIN tbl_vehicle_realtime_status rs ON v.id = rs.vehicle_id
            LEFT JOIN (
						SELECT
							t.vehicle_id,
							t.`status`
						FROM
							tbl_vehicle_seal_status t
						WHERE
							t.vehicle_id = ( SELECT id FROM tbl_vehicle WHERE vehicle_number = #{carNumber} )
						ORDER BY
							t.trigger_time DESC
							LIMIT 1
					  ) ss ON v.id = ss.vehicle_id
        WHERE
            v.vehicle_number = #{carNumber}
	</select>
	
	<select id="getDistributionsByCarNumber" parameterType="java.lang.String" resultType="com.tipray.bean.ChangeInfo">
	 	SELECT
			c.id carId,
			c.vehicle_number carNumber,
			c.store_num storeNum,
			t.distribute_id invoice,
			t.store_id storeId,
			t.oildepot_id oildepotId,
			t.gasstation_id gasstationId,
			t.id transportId,
			t.status transpoertStatus
		FROM
			tbl_vehicle c,
			tbl_transport t 
		WHERE
			c.id = t.vehicle_id 
			AND c.is_invalid = 0 
			AND <![CDATA[ t.`status` < 2 ]]>
			AND c.vehicle_number = #{carNumber}
	</select>
	
	<select id="getDistributionByTransportId" parameterType="java.lang.Long" resultType="com.tipray.bean.ChangeInfo">
	 	SELECT
			c.id carId,
			c.vehicle_number carNumber,
			c.store_num storeNum,
			t.distribute_id invoice,
			t.store_id storeId,
			t.oildepot_id oildepotId,
			t.gasstation_id gasstationId,
			t.id transportId,
			t.status transportStatus,
			g.id changedGasstationId 
		FROM
			( tbl_vehicle c RIGHT JOIN tbl_transport t ON c.id = t.vehicle_id AND c.is_invalid = 0 )
			LEFT JOIN tbl_gasstation g ON g.id = #{changedStationId}  
		WHERE
			t.id = #{transportId}
	</select>
	
	<select id="findTracks" parameterType="com.tipray.bean.track.ReTrack" resultType="com.tipray.bean.track.ReTrack">
		SELECT
			c.id id,
			c.vehicle_number carNumber,
			t.longitude longitude,
			t.latitude latitude,
			fn_type2name ( 'carStatus', t.vehicle_status ) carStatus,
			t.speed velocity,
			t.angle angle,
			t.lock_status_info lockStatusInfo 
		FROM
			tbl_vehicle_track_2018_04 t,
			tbl_vehicle c 
		WHERE
			t.vehicle_id = c.id 
			AND c.vehicle_number = #{carNumber}
			AND t.track_time BETWEEN #{begin} AND #{end} 
	</select>
	
	<select id="getTerminalIdById" parameterType="java.lang.Long" resultType="java.lang.Integer">
		SELECT vehicle_device_id FROM tbl_vehicle WHERE id = #{id}
	</select>
	
	<select id="getCarNumberById" parameterType="java.lang.Long" resultType="java.lang.String">
		SELECT vehicle_number FROM tbl_vehicle WHERE id = #{id}
	</select>

    <select id="getIdByCarNo" parameterType="java.lang.String" resultType="java.lang.Long">
        SELECT id FROM tbl_vehicle WHERE vehicle_number = #{carNo}
    </select>

    <select id="getTerminalIdByCarNo" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT vehicle_device_id FROM tbl_vehicle WHERE vehicle_number = #{carNo}
    </select>

    <select id="getStoreNumByCarNo" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT store_num FROM tbl_vehicle WHERE vehicle_number = #{carNo}
    </select>

	<select id="findCarNumbersByTerminalIds" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT vehicle_number FROM tbl_vehicle WHERE vehicle_device_id IN (${_parameter})
    </select>
	
	<!-- 存储过程调用 -->
	<select id="terminalConfig" statementType="CALLABLE" parameterType="com.tipray.bean.VehicleTerminalConfig">
		<![CDATA[
            {CALL prd_deal_terminal_track_cfg(
	            #{scope,			mode=IN,	jdbcType=INTEGER},
	        	#{carNumber,		mode=IN,	jdbcType=VARCHAR},
	            #{scanInterval,		mode=IN,	jdbcType=INTEGER},
	        	#{uploadInterval,	mode=IN,	jdbcType=INTEGER},
	        	#{generateDistance,	mode=IN,	jdbcType=INTEGER},
	            #{carState,			mode=OUT,	jdbcType=INTEGER},
	            #{terminalId,		mode=OUT,	jdbcType=INTEGER},
	        	#{isUpdate,			mode=OUT,	jdbcType=INTEGER}
        	)}
        ]]>
	</select>
	
	<select id="getGpsConfByTerminalId" parameterType="java.lang.Integer" resultType="com.tipray.bean.VehicleTerminalConfig">
       	SELECT
        	t1.vehicle_device_id terminalId,
            IFNULL( t2.param_cfg_value, 0 ) scanInterval,
            IFNULL( t3.param_cfg_value, 0 ) uploadInterval,
            IFNULL( t4.param_cfg_value, 0 ) generateDistance 
        FROM
            ( SELECT #{terminalId} vehicle_device_id ) t1
            LEFT JOIN tbl_vehicle_param_cfg t2 ON t1.vehicle_device_id = t2.vehicle_device_id AND t2.param_cfg_name = 'TrackSampleSpanSec'
            LEFT JOIN tbl_vehicle_param_cfg t3 ON t1.vehicle_device_id = t3.vehicle_device_id AND t3.param_cfg_name = 'TrackUploadSpanSec'
            LEFT JOIN tbl_vehicle_param_cfg t4 ON t1.vehicle_device_id = t4.vehicle_device_id AND t4.param_cfg_name = 'TrackUploadSpanMeter'
    </select>

    <select id="getGpsConfByCarId" parameterType="java.lang.Long" resultType="com.tipray.bean.VehicleTerminalConfig">
        SELECT
            vehicle_device_id terminalId,
            param_cfg_value scanInterval
        FROM
            tbl_vehicle_param_cfg
        WHERE
            param_cfg_name = 'TrackSampleSpanSec'
            AND (vehicle_device_id = 0 OR vehicle_device_id = (SELECT vehicle_device_id FROM tbl_vehicle WHERE id = #{carId}))
        ORDER BY
            vehicle_device_id ASC
    </select>
    
	<select id="getGpsConfByCarNumber" parameterType="java.lang.String" resultType="com.tipray.bean.VehicleTerminalConfig">
       	SELECT
        	t1.vehicle_device_id terminalId,
            t2.param_cfg_value scanInterval,
            t3.param_cfg_value uploadInterval,
            t4.param_cfg_value generateDistance
        FROM
            ( SELECT vehicle_device_id FROM tbl_vehicle WHERE vehicle_number = #{carNumber}) t1
            LEFT JOIN tbl_vehicle_param_cfg t2 ON t1.vehicle_device_id = t2.vehicle_device_id AND t2.param_cfg_name = 'TrackSampleSpanSec'
            LEFT JOIN tbl_vehicle_param_cfg t3 ON t1.vehicle_device_id = t3.vehicle_device_id AND t3.param_cfg_name = 'TrackUploadSpanSec'
            LEFT JOIN tbl_vehicle_param_cfg t4 ON t1.vehicle_device_id = t4.vehicle_device_id AND t4.param_cfg_name = 'TrackUploadSpanMeter'
    </select>

    <select id="countTerminalEnable" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM tbl_vehicle_param_cfg WHERE vehicle_device_id = 0 AND param_cfg_name = 'VehicleWorkOnOff'
    </select>

    <select id="getTerminalEnable" resultType="java.lang.Integer">
       SELECT param_cfg_value FROM tbl_vehicle_param_cfg WHERE vehicle_device_id = 0 AND param_cfg_name = 'VehicleWorkOnOff'
    </select>

    <update id="updateTerminalEnable" parameterType="java.lang.Integer">
        UPDATE tbl_vehicle_param_cfg
        SET param_cfg_value = #{functionEnable}
        WHERE
            vehicle_device_id = 0
            AND param_cfg_name = 'VehicleWorkOnOff'
    </update>

	<insert id="addTerminalEnable" useGeneratedKeys="true" keyProperty="id" parameterType="java.lang.Integer">
		INSERT INTO tbl_vehicle_param_cfg ( vehicle_device_id, param_cfg_name, param_cfg_value )
		VALUES
			( 0, 'VehicleWorkOnOff', #{functionEnable} );
	</insert>
	
	<insert id="addRemoteControlRecord" parameterType="java.util.Map" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO 
			tbl_remote_control(
                user_id,
                vehicle_id,
                device_id,
                `type`,
                station_type,
                station_id,
                lock_id_list,
                lock_device_id_list,
                is_app,
                is_lnglat_valid,
                longitude,
                latitude
			)
		VALUES(
			#{userId},
			#{carId},
			IFNULL(#{terminalId}, 0),
			#{type}, 
			IFNULL(#{stationType}, 0),
			IFNULL(#{stationId}, 0),
			#{lockIds},
			#{lockDevIds},
		  	IFNULL(#{isApp}, 0),
		  	IFNULL(#{isLocationValid}, 0),
		  	IFNULL(#{longitude}, 0),
		  	IFNULL(#{latitude}, 0)
		  )
	</insert>

	<insert id="addRemoteStatusAlterRecord" parameterType="java.util.Map" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
			tbl_remote_control(
                user_id,
                vehicle_id,
                device_id,
                `type`,
                station_type,
                station_id,
                store_id_list,
                lock_id_list,
                lock_device_id_list,
                is_app,
                is_lnglat_valid,
                longitude,
                latitude
			)
		VALUES(
			#{userId},
			#{carId},
			IFNULL(#{terminalId}, 0),
			#{type},
			IFNULL(#{stationType}, 0),
			IFNULL(#{stationId}, 0),
			IFNULL(#{storeIds}, 0),
			#{lockIds},
			#{lockDevIds},
		  	IFNULL(#{isApp}, 0),
		  	IFNULL(#{isLocationValid}, 0),
		  	IFNULL(#{longitude}, 0),
		  	IFNULL(#{latitude}, 0)
		  )
	</insert>

	<select id="getRemoteControlIdByCarIdAndControlType" resultType="java.lang.Integer">
		SELECT id FROM tbl_remote_control WHERE vehicle_id = #{carId} AND type = #{type} ORDER BY id DESC LIMIT 1
	</select>

    <update id="updateRemoteControlStatus">
        UPDATE tbl_remote_control
        <set>
            <if test="remoteControlStatus == 2">
                finish_time = NOW(),
            </if>
            status = #{remoteControlStatus}
        </set>
        WHERE id = #{remoteControlId}
    </update>
	
	<insert id="addLockResetRecord" parameterType="java.util.Map" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO tbl_unlock_reset (
			vehicle_id,
			device_id,
			lock_device_id,
			trigger_type,
			trigger_id,
			is_app,
			is_lnglat_valid,
			longitude,
			latitude,
			reset_time,
			station_type,
			station_id,
			vehicle_track_id,
			store_id,
			seat,
			seat_index
		)
		SELECT * FROM (
			(SELECT
				#{carId} vehicle_id,
				#{terminalId} device_id,
				#{lockId} lock_device_id,
				7 trigger_type,
				#{userId} trigger_id,
				IFNULL(#{isApp}, 0) is_app,
				IFNULL(#{isLocationValid}, 0) is_lnglat_valid,
			  	IFNULL(#{longitude}, 0) longitude,
			  	IFNULL(#{latitude}, 0) latitude,
				NOW() reset_time,
				0 station_type,
				0 station_id,
				0 vehicle_track_id
			) v_base
			JOIN ( SELECT store_id, seat, seat_index FROM tbl_lock WHERE lock_device_id = #{lockId} AND vehicle_id = #{carId} ) v_lock
		);
	</insert>
	
	<update id="batchUpdateResetRecord">
		UPDATE tbl_unlock_reset SET
			status = #{resetState}
		WHERE id in (${resetIds})
	</update>
	
	<select id="findTracksByCarNumbers" resultType="java.util.LinkedHashMap">
		SELECT
			v.vehicle_number,
			t.vehicle_id,
			t.id track_id,
			t.is_lnglat_valid,
			t.longitude,
			t.latitude,
			t.vehicle_status,
			t.vehicle_alarm_status,
			t.angle,
			t.speed,
			HEX(t.lock_status_info) lock_status_info,
			DATE_FORMAT(t.track_time,'%Y-%m-%d %H:%i:%s') track_time
		FROM
			tbl_vehicle_track t,
			tbl_vehicle v 
		WHERE
			t.vehicle_id = v.id 
			AND t.track_time > #{beginTime}
			AND v.vehicle_number IN ( ${carNumbers} );
	</select>
    
	<select id="findBindedVehicleTree" resultType="com.tipray.bean.upgrade.VehicleTree">
        <!-- 只查在线车辆 -->
-- 		SELECT
--             tc.`id`,
--             tc.`name`,
--             tc.`parent_company_id` `pId`
--         FROM
--             `tbl_trans_company` tc
--         WHERE
--             tc.`id` IN
--               ( SELECT v.`trans_company_id` FROM `tbl_vehicle` v, `tbl_vehicle_realtime_status` s
--                 WHERE v.`vehicle_device_id` != 0 AND v.`is_invalid` = 0 AND v.`id` = s.`vehicle_id` AND s.`is_online` = 1)
--             AND tc.`is_invalid` = 0 UNION ALL
--         SELECT
--             tv.`vehicle_device_id` `id`,
--             tv.`vehicle_number` `name`,
--             tv.`trans_company_id` `pId`
--         FROM
--             `tbl_vehicle` tv,
--             `tbl_vehicle_realtime_status` ts
--         WHERE
--             tv.`vehicle_device_id` != 0
--             AND tv.`is_invalid` = 0
--             AND tv.`id` = ts.`vehicle_id`
--             AND ts.`is_online` = 1

--         SELECT
--             tc.`id`,
--             tc.`name`,
--             tc.`parent_company_id` `pId`
--         FROM
--             `tbl_trans_company` tc
--         WHERE
--             tc.`id` IN ( SELECT v.`trans_company_id` FROM `tbl_vehicle` v WHERE v.`vehicle_device_id` != 0 AND v.`is_invalid` = 0 )
--             AND tc.`is_invalid` = 0 UNION ALL
--         SELECT
--             tv.`vehicle_device_id` `id`,
--             tv.`vehicle_number` `name`,
--             tv.`trans_company_id` `pId`
--         FROM
--             `tbl_vehicle` tv
--         WHERE
--             tv.`vehicle_device_id` != 0
--             AND tv.`is_invalid` = 0
        SELECT
            tc.`id`,
            tc.`name`,
            tc.`parent_company_id` `pId`,
            0 `ver`
        FROM
            `tbl_trans_company` tc
        WHERE
            tc.`id` IN ( SELECT v.`trans_company_id` FROM `tbl_vehicle` v WHERE v.`vehicle_device_id` != 0 AND v.`is_invalid` = 0 )
            AND tc.`is_invalid` = 0 UNION ALL
        SELECT
            tv.`vehicle_device_id` `id`,
            tv.`vehicle_number` `name`,
            tv.`trans_company_id` `pId`,
            td.`device_version` `ver`
        FROM
            `tbl_vehicle` tv,
            `tbl_device` td
        WHERE
            tv.`vehicle_device_id` != 0
            AND tv.`vehicle_device_id` = td.`device_id`
            AND tv.`is_invalid` = 0
	</select>
	
    <select id="getVehicleRealtimeStatus" parameterType="java.lang.Long" resultType="com.tipray.bean.VehicleRealtimeStatus">
        SELECT
            s.vehicle_id vehicleId,
            v.vehicle_number carNumber,
            s.is_online `online`,
--             s.`status`,
--             fn_type2name ( 'carStatus', s.`status` ) statusName,
            s.param_status paramStatus,
            s.last_online_time lastOnline
        FROM
            tbl_vehicle_realtime_status s,
            tbl_vehicle v
        WHERE
            s.vehicle_id = v.id
            AND s.vehicle_id = #{vehicleId}
    </select>

    <resultMap id="carMap" type="java.util.Map">
        <result column="id" property="id" javaType="java.lang.Long" />
        <result column="vehicle_number" property="vehicle_number" javaType="java.lang.String" />
        <result column="vehicle_device_id" property="vehicle_device_id" javaType="java.lang.Integer" />
        <result column="store_num" property="store_num" javaType="java.lang.Integer" />
        <result column="transport_card_id" property="transport_card_id" javaType="java.lang.Long" />
    </resultMap>
    <select id="getByCarNoForApp" parameterType="java.lang.String" resultMap="carMap">
        SELECT
			v.id,
			v.vehicle_number,
			v.vehicle_device_id,
			v.store_num,
			v.transport_card_id
		FROM
			`tbl_vehicle` v
		WHERE
			v.vehicle_number = #{carNo}
    </select>
    <select id="findOnlineCarsForApp" resultMap="carMap">
        SELECT
            v.id,
            v.vehicle_number,
            v.vehicle_device_id,
            v.store_num,
            v.transport_card_id
        FROM
            tbl_vehicle v,
            tbl_vehicle_realtime_status s
        WHERE
            v.vehicle_device_id != 0
            AND v.is_invalid = 0
            AND v.id = s.vehicle_id
            AND s.is_online = 1
    </select>

    <select id="findAllCarsForApp" resultMap="carMap">
        SELECT
            v.id,
            v.vehicle_number,
            v.vehicle_device_id,
            v.store_num,
            v.transport_card_id
        FROM
            tbl_vehicle v
        WHERE
            v.is_invalid = 0
    </select>

    <resultMap id="carOnlineMap" type="java.util.Map" >
        <result column="vehicle_id" property="carId" javaType="java.lang.Long" />
        <result column="vehicle_number" property="carNumber" javaType="java.lang.String" />
    </resultMap>
    <select id="findOnlineCarIds" resultMap="carOnlineMap">
        <![CDATA[
            SELECT
                s.vehicle_id,
                v.vehicle_number
            FROM
                tbl_vehicle_realtime_status s,
                tbl_vehicle v
            WHERE
                s.is_online = 1
                AND s.vehicle_id = v.id
                AND TIMESTAMPDIFF(SECOND, last_online_time, NOW()) <= 400;
        ]]>
    </select>

	<select id="getLastCarStatus" parameterType="java.lang.Long" resultType="java.lang.Integer">
		SELECT
			t.`status`
		FROM
			(
			( SELECT `status`, trigger_time `time` FROM tbl_vehicle_seal_status WHERE vehicle_id = #{carId} ORDER BY trigger_time DESC, id DESC LIMIT 1 ) UNION
			( SELECT vehicle_status `status`, track_time `time` FROM tbl_vehicle_newest_track WHERE vehicle_id = #{carId} )
			) t
		ORDER BY
			t.time DESC
			LIMIT 1;
	</select>

    <update id="updateTimeoutOfflineCars">
        <![CDATA[
            UPDATE tbl_vehicle_realtime_status
            SET is_online = 0
            WHERE
                is_online = 1
                AND TIMESTAMPDIFF(SECOND, last_online_time, NOW()) > 400;
        ]]>
    </update>

    <select id="findCarIdsByCarNumbers" parameterType="java.lang.String" resultType="java.util.Map" >
        SELECT
            id,
            vehicle_number
        FROM
            tbl_vehicle
        WHERE
            vehicle_number IN ( ${_parameter} );
    </select>

	<select id="getOnline" parameterType="java.lang.Long" resultType="java.lang.Integer">
        SELECT is_online FROM tbl_vehicle_realtime_status WHERE vehicle_id = #{carId}
    </select>

	<select id="getCarStatusByCarId" parameterType="java.lang.Long" resultType="java.util.Map">
        SELECT
            `status`,
            UNIX_TIMESTAMP(trigger_time) `trigger_time`
        FROM
            tbl_vehicle_seal_status
        WHERE
            vehicle_id = #{carId}
            AND trigger_time = (SELECT MAX(trigger_time) FROM tbl_vehicle_seal_status WHERE vehicle_id = #{carId})
        ORDER BY id DESC LIMIT 1
    </select>

    <select id="findCarStatusAfterTime" parameterType="java.util.Date" resultType="com.tipray.bean.track.LastCarStatus">
        select
            vehicle_id id,
            `status`,
            trigger_time time
        from
            tbl_vehicle_seal_status
        where
            trigger_time > #{begin}
    </select>

</mapper>