<?xml version="1.0" encoding="UTF-8"?>
<!--<beans xmlns="http://www.springframework.org/schema/beans"-->
       <!--xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
       <!--xmlns:jaxws="http://cxf.apache.org/jaxws"-->
       <!--xmlns:jaxrs="http://cxf.apache.org/jaxrs"-->
       <!--xsi:schemaLocation="http://www.springframework.org/schema/beans-->
		<!--http://www.springframework.org/schema/beans/spring-beans.xsd -->
		<!--http://cxf.apache.org/jaxws -->
		<!--http://cxf.apache.org/schemas/jaxws.xsd-->
    	<!--http://cxf.apache.org/jaxrs -->
    	<!--http://cxf.apache.org/schemas/jaxrs.xsd"-->
<!--&gt;-->

    <!--&lt;!&ndash; Apache CXF Web Services &ndash;&gt;-->
    <!--<import resource="classpath:META-INF/cxf/cxf.xml"/>-->
    <!--<import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>-->

    <!--<jaxws:endpoint id="WSTask" implementor="com.tipray.webservice.ExampleWebService" address="/WSExample">-->
    <!--</jaxws:endpoint>-->

    <!--<jaxrs:server id="restService" address="/rest">-->
        <!--&lt;!&ndash;输入拦截器设置 &ndash;&gt;-->
        <!--<jaxrs:inInterceptors>-->
        <!--</jaxrs:inInterceptors>-->
        <!--&lt;!&ndash;输出拦截器设置 &ndash;&gt;-->
        <!--<jaxrs:outInterceptors>-->
        <!--</jaxrs:outInterceptors>-->

        <!--&lt;!&ndash;serviceBeans：暴露的WebService服务类 &ndash;&gt;-->
        <!--<jaxrs:serviceBeans>-->
            <!--<ref bean="exampleRestService"/>-->
        <!--</jaxrs:serviceBeans>-->

        <!--&lt;!&ndash;支持的协议 &ndash;&gt;-->
        <!--<jaxrs:extensionMappings>-->
            <!--<entry key="json" value="application/json"/>-->
            <!--<entry key="xml" value="application/xml"/>-->
        <!--</jaxrs:extensionMappings>-->
        <!--&lt;!&ndash;编码格式 &ndash;&gt;-->
        <!--<jaxrs:languageMappings>-->

        <!--</jaxrs:languageMappings>-->
        <!--&lt;!&ndash;对象转换 &ndash;&gt;-->
        <!--<jaxrs:providers>-->
            <!--<bean class="com.fasterxml.jackson.jaxrs.json.JacksonJaxbJsonProvider"/>-->
        <!--</jaxrs:providers>-->
    <!--</jaxrs:server>-->
<!--</beans>-->