<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tipray.dao.AppverDao">
    <resultMap id="fullResultMap" type="com.tipray.bean.baseinfo.AppVer">
        <id column="id" property="id"/>
        <result column="center_id" property="centerId"/>
        <result column="center_name" property="centerName"/>
        <result column="app_id" property="appid"/>
        <result column="system" property="system"/>
        <result column="assign_webapp_version" property="assignVer"/>
        <result column="min_webapp_version" property="minVer"/>
    </resultMap>

    <sql id="select_columns">
        a.id,
    	a.center_id,
        c.`name` center_name,
        a.app_id,
        a.system,
        a.assign_webapp_version,
        a.min_webapp_version
    </sql>

    <select id="findAll" resultMap="fullResultMap">
        SELECT
        <include refid="select_columns"></include>
        FROM
        tbl_webapp_version a,
        tbl_center c
        WHERE
        a.center_id = c.id
    </select>

    <insert id="add" useGeneratedKeys="true" keyProperty="id" parameterType="com.tipray.bean.baseinfo.AppVer">
		INSERT INTO tbl_webapp_version(id, center_id, app_id, system, assign_webapp_version, min_webapp_version)
		VALUES
			(
				#{id},
				#{centerId},
				#{appid},
				#{system},
				#{assignVer},
				#{minVer}
			)
	</insert>

    <update id="update" parameterType="com.tipray.bean.baseinfo.AppVer">
        update tbl_webapp_version set
            <!-- center_id               = #{centerId}, -->
            <!-- system                  = #{system}, -->
            assign_webapp_version   = #{assignVer},
            min_webapp_version      = #{minVer}
        where id                    = #{id}
    </update>

    <update id="delete" parameterType="java.lang.Long">
		delete from tbl_webapp_version where id = #{id}
	</update>

    <select id="getById" parameterType="java.lang.Long" resultMap="fullResultMap">
        SELECT
        <include refid="select_columns"></include>
        FROM
        tbl_webapp_version a,
        tbl_center c
        WHERE
        a.center_id = c.id
        AND a.id = #{id}
    </select>

    <select id="countCenterAppVer" resultType="java.lang.Integer">
        select count(*) from tbl_webapp_version where center_id = #{centerId} and app_id = #{appid} and system = #{system}
    </select>

    <select id="count" parameterType="com.tipray.bean.baseinfo.AppVer" resultType="java.lang.Long">
        select count(a.id)
        from
        tbl_webapp_version a,
        tbl_center c
        where
        a.center_id = c.id
        <if test="centerName != null and centerName !=''">
            and c.name like CONCAT('%',#{centerName},'%')
        </if>
    </select>

    <select id="findByPage" resultMap="fullResultMap">
        SELECT
        <include refid="select_columns"></include>
        FROM
        tbl_webapp_version a,
        tbl_center c
        WHERE
        a.center_id = c.id
        <if test="entity.centerName != null and entity.centerName !=''">
            and c.name like CONCAT('%',#{entity.centerName},'%')
        </if>
        order by a.id asc
        limit #{page.startRow}, #{page.rows}
    </select>

    <select id="findByCenterId" parameterType="java.lang.Long" resultType="com.tipray.bean.baseinfo.AppVer">
        SELECT
            id,
            center_id centerId,
            app_id appid,
            system,
            assign_webapp_version assignVer,
            min_webapp_version minVer,
            gmt_create createDate,
            gmt_modified modifyDate
        FROM
            tbl_webapp_version
        WHERE
            center_id = #{centerId}
    </select>

    <select id="getAssignVerByAppver" parameterType="com.tipray.bean.baseinfo.AppVer" resultType="java.lang.String">
        select assign_webapp_version from tbl_webapp_version where center_id = #{centerId} and app_id = #{appid} and system = #{system}
    </select>

    <select id="getMinverByAppver" resultType="java.lang.String">
        select min_webapp_version from tbl_webapp_version where center_id = #{centerId} and app_id = #{appid} and system = #{system}
    </select>

    <delete id="deleteAll">
        delete from tbl_webapp_version
    </delete>
    
    <select id="findAllIds" resultType="java.lang.Long">
        SELECT id FROM `tbl_webapp_version`
    </select>

    <insert id="batchAdd" parameterType="java.util.List">
        insert into
        tbl_webapp_version
        (id, center_id, app_id, system, assign_webapp_version, min_webapp_version, gmt_create, gmt_modified)
        values
        <foreach collection="list" item="item" index="index" separator="," >
            (
            #{item.id},
            #{item.centerId},
            #{item.appid},
            #{item.system},
            #{item.assignVer},
            #{item.minVer},
            IFNULL(#{item.createDate}, NOW()),
            IFNULL(#{item.modifyDate}, NOW())
            )
        </foreach>
    </insert>

    <!-- 通用批量更新方法 -->
    <update id="batchUpdate" parameterType="java.util.List">
        update tbl_webapp_version set
        assign_webapp_version =
        <foreach collection="list" item="item" index="index" separator=" " open="case id" close="end">
            when #{item.id} then #{item.assignVer}
        </foreach>
        , min_webapp_version =
        <foreach collection="list" item="item" index="index" separator=" " open="case id" close="end">
            when #{item.id} then #{item.minVer}
        </foreach>
        , gmt_create =
        <foreach collection="list" item="item" index="index" separator=" " open="case id" close="end">
            when #{item.id} then IFNULL(#{item.createDate}, NOW())
        </foreach>
        , gmt_modified =
        <foreach collection="list" item="item" index="index" separator=" " open="case id" close="end">
            when #{item.id} then IFNULL(#{item.modifyDate}, NOW())
        </foreach>
        where id in
        <foreach collection="list" item="item" index="index" separator="," open="(" close=")">
            #{item.id, jdbcType=INTEGER}
        </foreach>
    </update>

    <delete id="batchDelete" parameterType="java.util.List">
        delete from tbl_webapp_version where id in
        <foreach collection="list" item="item" index="index" separator="," open="(" close=")">
            #{item, jdbcType=INTEGER}
        </foreach>
    </delete>

</mapper>