<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tipray.dao.DeviceDao">
	<resultMap id="fullResultMap" type="com.tipray.bean.baseinfo.Device">
		<id column="id" property="id"/>
		<result column="device_id" property="deviceId"/>
		<result column="type" property="type"/>
		<result column="type_name" property="typeName"/>
		<result column="device_version" property="ver"/>
		<result column="center_id" property="centerId"/>
		<result column="model" property="model"/>
		<result column="produce" property="produce"/>
		<result column="delivery" property="delivery"/>
		<result column="remark" property="remark"/>
		<result column="gmt_create" property="createDate"/>
		<result column="gmt_modified" property="modifyDate"/>
	</resultMap>
	<sql id="select_colums">
		d.id,
		d.device_id,
		d.type,
		fn_type2name('deviceType',d.type) type_name,
		d.device_version,
		d.center_id,
		d.model,
		date_format(d.produce_time,'%Y-%m-%d %H:%i:%s') produce,
		date_format(d.delivery_time,'%Y-%m-%d %H:%i:%s') delivery,
		d.remark,
		d.gmt_create,
		d.gmt_modified
	</sql>
	<select id="findAll" resultMap="fullResultMap">
		select
		<include refid="select_colums"></include>
		from tbl_device d
		where d.is_disallowed=0 and d.is_invalid=0
	</select>

    <select id="findAllDeviceIds" resultType="java.lang.Integer">
        SELECT device_id FROM `tbl_device`
    </select>
	
	<insert id="add" useGeneratedKeys="true" keyProperty="id" parameterType="com.tipray.bean.baseinfo.Device">
		insert into
		tbl_device(device_id,type,center_id,produce_time,delivery_time,model,remark)
		values(#{deviceId},#{type},#{centerId},#{produce},#{delivery},ifnull(#{model},'')},ifnull(#{remark},''))
	</insert>
	
	<update id="update" parameterType="com.tipray.bean.baseinfo.Device">
		update tbl_device set
		    device_version    = #{ver},
			center_id         = #{centerId},
			produce_time      = #{produce},
			delivery_time     = #{delivery},
			model             = ifnull(#{model}, ''),
			remark            = ifnull(#{remark}, ''),
			is_invalid        = 0,
			is_disallowed     = 0,
			device_id_status  = 2
		where id=#{id}
	</update>

    <!-- 通用批量更新方法 -->
    <update id="updateDevices" parameterType="java.util.List">
        update tbl_device set
        type =
        <foreach collection="list" item="item" index="index" separator=" " open="case device_id" close="end">
            when #{item.deviceId} then #{item.type}
        </foreach>
        , produce_time =
        <foreach collection="list" item="item" index="index" separator=" " open="case device_id" close="end">
            when #{item.deviceId} then #{item.produce}
        </foreach>
        , delivery_time =
        <foreach collection="list" item="item" index="index" separator=" " open="case device_id" close="end">
            when #{item.deviceId} then #{item.delivery}
        </foreach>
        , model =
        <foreach collection="list" item="item" index="index" separator=" " open="case device_id" close="end">
            when #{item.deviceId} then #{item.model}
        </foreach>
        , remark =
        <foreach collection="list" item="item" index="index" separator=" " open="case device_id" close="end">
            when #{item.deviceId} then #{item.remark}
        </foreach>
        ,is_invalid        = 0
        ,is_disallowed     = 0
        ,device_id_status  = 2
        where device_id in
        <foreach collection="list" item="item" index="index" separator="," open="(" close=")">
            #{item.deviceId, jdbcType=INTEGER}
        </foreach>
    </update>

    <delete id="delete" parameterType="java.lang.Long">
		update tbl_device set 
		is_invalid=1 
		where id=#{id}
	</delete>
	
	<delete id="deleteByDeviceId" parameterType="java.lang.Integer">
		update tbl_device set 
		is_invalid=1 
		where device_id=#{deviceId}
	</delete>

	<delete id="deleteByDeviceIds" parameterType="java.lang.String">
		update tbl_device set
		is_invalid=1
		where device_id in #{deviceIds}
	</delete>

    <update id="deleteByDeviceIdList" parameterType="java.util.List">
        update tbl_device set
		is_invalid=1
        where device_id in
        <foreach collection="list" item="item" index="index" separator="," open="(" close=")">
            #{item, jdbcType=INTEGER}
        </foreach>
    </update>

	<select id="getById" parameterType="java.lang.Long" resultMap="fullResultMap">
		select <include refid="select_colums"></include> 
		from tbl_device d
		where d.is_disallowed=0 and d.is_invalid=0 and d.id=#{id}
	</select>
	
	<select id="getByDeviceId" parameterType="java.lang.Integer" resultMap="fullResultMap">
		select <include refid="select_colums"></include> 
		from tbl_device d
		where d.is_disallowed=0 and d.is_invalid=0 and d.device_id=#{deviceId}
	</select>
	
	<select id="findByCenterId" parameterType="java.lang.Integer" resultMap="fullResultMap">
		select <include refid="select_colums"></include> 
		from tbl_device d
		where c.id=#{centerId} and d.is_disallowed=0 and d.is_invalid=0
	</select>
	
	<select id="findByType" parameterType="java.lang.Integer" resultMap="fullResultMap">
		select <include refid="select_colums"></include> 
		from tbl_device d
		where d.type=#{deviceType} and d.is_disallowed=0 and d.is_invalid=0
	</select>
	
	<select id="count" parameterType="com.tipray.bean.baseinfo.Device" resultType="java.lang.Long">
		select count(*) from tbl_device where is_disallowed=0 and is_invalid=0
		 <if test="type != null and type != -2l">
			and type = #{type}
		</if>
		<if test="centerId != null and centerId != -2l">
			and center_id = #{centerId}
		</if>
	</select>
	
	<select id="findByPage" resultMap="fullResultMap">
		select <include refid="select_colums"></include> 
		from tbl_device d
		where d.is_disallowed=0 and d.is_invalid=0
		<if test="entity.centerId != null and entity.centerId != -2l">and d.center_id=#{entity.centerId}</if>
		<if test="entity.type != null and entity.type != -2l">and d.type=#{entity.type}</if>
		order by d.id asc  
		limit #{page.startRow}, #{page.rows}
	</select>
	
	<delete id="deleteAll">
		delete from tbl_device
	</delete>
	
	<insert id="addDevices" parameterType="java.util.List">
		insert into
		tbl_device(id,device_id,`type`,device_version,center_id,produce_time,delivery_time,model,remark,device_id_status) values
		<foreach collection="list" item="device" index="index" separator="," > 
			(
			#{device.id},
			#{device.deviceId},
			#{device.type},
			ifnull(#{device.ver},0),
			#{device.centerId},
			#{device.produce},
			#{device.delivery},
			ifnull(#{device.model},''),
			ifnull(#{device.remark},''),
            2
			)
		</foreach>
	</insert>
	
</mapper>