<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tipray.dao.UserDao">
    <resultMap id="fullResultMap" type="com.tipray.bean.baseinfo.User">
        <id column="id" property="id"/>
        <result column="account" property="account"/>
        <result column="password" property="password"/>
        <result column="name" property="name"/>
        <result column="phone" property="phone"/>
        <result column="identity_card" property="identityCard"/>
        <result column="remark" property="remark"/>
        <result column="gmt_create" property="createDate"/>
        <result column="gmt_modified" property="modifyDate"/>
        <result column="role_id" property="role.id"/>
        <result column="role_name" property="role.name"/>
        <result column="permissions" property="role.permissionIds"/>
        <result column="is_super" property="role.isSuper" jdbcType="INTEGER"/>
        <result column="app_role_id" property="appRole.id"/>
        <result column="app_role_name" property="appRole.name"/>
        <result column="app_permissions" property="appRole.permissionIds"/>
    </resultMap>

    <sql id="select_colums">
    	u.*,
    	r.name role_name,
    	r.is_super is_super,
    	r.permissions permissions,
    	r2.name app_role_name,
    	r2.permissions app_permissions
    </sql>

    <select id="findAll" resultMap="fullResultMap">
        select
        <include refid="select_colums"></include>
        from tbl_user u left join tbl_role r2 on u.app_role_id = r2.id, tbl_role r
        where u.is_invalid = 0 and u.role_id = r.id and u.account!='admin'
    </select>

    <insert id="add" useGeneratedKeys="true" keyProperty="id" parameterType="com.tipray.bean.baseinfo.User">
		insert into tbl_user(role_id,app_role_id,account,password,name,phone,identity_card,remark) 
		values(#{role.id},ifnull(#{appRole.id},0),#{account},#{password},#{name},#{phone},#{identityCard},ifnull(#{remark},''))
	</insert>

    <update id="update" parameterType="com.tipray.bean.baseinfo.User">
		update tbl_user set 
		role_id=#{role.id},
		app_role_id=ifnull(#{appRole.id},0),
		name=#{name},
		phone=#{phone},
		identity_card=#{identityCard},
		remark=ifnull(#{remark},'')
		where id=#{id}
	</update>

    <!-- <delete id="delete" parameterType="java.lang.Long">
        delete from tbl_user where id=#{id}
    </delete> -->
    <update id="delete" parameterType="java.lang.Long">
		update tbl_user set 
		is_invalid = 1
		where id=#{id}
	</update>

    <select id="getById" parameterType="java.lang.Long" resultMap="fullResultMap">
        select
        <include refid="select_colums"></include>
        from tbl_user u left join tbl_role r2 on u.app_role_id = r2.id, tbl_role r
        where u.is_invalid = 0 and u.role_id = r.id and u.id=#{id}
    </select>

    <select id="getByAccount" parameterType="java.lang.String" resultMap="fullResultMap">
        <!-- select u.userid id,u.roleid roleid,u.account account,u.password password  -->
        select
        <include refid="select_colums"></include>
        from tbl_user u left join tbl_role r2 on u.app_role_id = r2.id, tbl_role r
        where u.is_invalid = 0 and u.role_id = r.id and binary u.account = #{account}
    </select>

    <select id="getByIDCard" parameterType="java.lang.String" resultMap="fullResultMap">
        select
        <include refid="select_colums"></include>
        from tbl_user u left join tbl_role r2 on u.app_role_id = r2.id, tbl_role r
        where u.is_invalid = 0 and u.role_id = r.id and u.account!='admin' and u.identity_card = #{identityCard}
    </select>

    <select id="findByAccount" parameterType="java.lang.String" resultMap="fullResultMap">
        select
        <include refid="select_colums"></include>
        from tbl_user u left join tbl_role r2 on u.app_role_id = r2.id, tbl_role r
        where u.is_invalid = 0 and u.role_id = r.id and u.account!='admin' and u.account like CONCAT('%',#{account},'%')
    </select>

    <select id="findByName" parameterType="java.lang.String" resultMap="fullResultMap">
        select
        <include refid="select_colums"></include>
        from tbl_user u left join tbl_role r2 on u.app_role_id = r2.id, tbl_role r
        where u.is_invalid = 0 and u.role_id = r.id and u.account!='admin' and u.name like CONCAT('%',#{name},'%')
    </select>

    <update id="updatePassword" parameterType="com.tipray.bean.baseinfo.User">
		update tbl_user set
		password=#{password}
		where id=#{id}
	</update>

    <update id="resetUserRole" parameterType="java.lang.Long">
		update tbl_user set
		role_id=2
		where role_id=#{roleId}
	</update>

    <update id="removeAppRole" parameterType="java.lang.Long">
		update tbl_user set
		app_role_id=0
		where app_role_id=#{appRoleId}
	</update>

    <select id="count" parameterType="com.tipray.bean.baseinfo.User" resultType="java.lang.Long">
        select count(*) from tbl_user where is_invalid = 0 and account!='admin' and role_id!=#{role.id}
        <if test="account != null and account !=''">
            and account like CONCAT('%',#{account},'%')
        </if>
        <if test="name != null and name !=''">
            and name like CONCAT('%',#{name},'%')
        </if>
    </select>

    <sql id="select_where_vo">
        <if test="entity.account != null and entity.account !=''">
            and u.account like CONCAT('%',#{entity.account},'%')
        </if>
        <if test="entity.name != null and entity.name !=''">
            and u.name like CONCAT('%',#{entity.name},'%')
        </if>
    </sql>
    <select id="findByPage" resultMap="fullResultMap">
        select
        <include refid="select_colums"></include>
        from tbl_user u left join tbl_role r2 on u.app_role_id = r2.id, tbl_role r
        where u.is_invalid = 0 and u.role_id = r.id and u.account!='admin' and u.role_id!=#{entity.role.id}
        <include refid="select_where_vo"></include>
        order by u.id asc
        limit #{page.startRow}, #{page.rows}
    </select>
</mapper>