<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tipray.dao.AlarmRecordDao">
	<resultMap id="fullResultMap" type="com.tipray.bean.record.AlarmRecord" >
        <id column="id" property="id" />
        <result column="vehicle_number" property="carNumber" />
        <result column="vehicle_id" property="vehicleId" />
        <result column="terminal_id" property="terminalId" />
        <result column="device_type" property="deviceType" />
		<result column="device_id" property="deviceId" />
		<result column="lock_id" property="lockId" />
		<result column="type" property="type" />
		<result column="type_name" property="typeName" />
		<result column="alarm_status" property="status" />
		<result column="track_id" property="trackId" />
        <result column="alarm_time" property="alarmTime" />
        <result column="alarm_report_time" property="alarmReportTime" />
        <result column="station" property="station" />
    </resultMap>
	<sql id="select_columns">
		a.id											        id,
		c.vehicle_number								        vehicle_number,
		a.vehicle_id									        vehicle_id,
		c.vehicle_device_id								        terminal_id,
		a.device_type									        device_type,
		a.device_id										        device_id,
		a.lock_id												lock_id,
		a.type											        type,
		fn_get_alarm_type ( a.device_type, a.type )		        type_name,
		fn_type2name ( 'alarmStatus', a.`status` )		        alarm_status,
		fn_get_alarm_station ( a.station_type, a.station_id )	station,
		a.vehicle_track_id								        track_id,
        DATE_FORMAT( a.alarm_time, '%Y-%m-%d %H:%i:%s' )        alarm_time,
        DATE_FORMAT( a.alarm_report_time, '%Y-%m-%d %H:%i:%s' ) alarm_report_time
	</sql>
	
	<select id="findAll" resultMap="fullResultMap">
		SELECT
			<include refid="select_columns"></include>
		FROM
			tbl_alarm a
			LEFT JOIN tbl_vehicle_track t ON a.vehicle_track_id = t.id,
			tbl_vehicle c
		WHERE
			a.vehicle_id = c.id
	</select>

	<select id="getById" parameterType="java.lang.Long" resultMap="fullResultMap">
		SELECT <include refid="select_columns"></include>
		FROM
			tbl_alarm a,
			tbl_vehicle c
		WHERE
			a.vehicle_id = c.id AND a.id=#{id}
	</select>

    <select id="getAlarmRecordsByIdsAndCar" resultType="com.tipray.bean.record.AlarmRecord">
        SELECT id, type, `status` statusCode, fn_type2name('alarmStatus', `status` ) `status`
        FROM tbl_alarm WHERE id IN ( ${ids} ) AND vehicle_id = #{vehicleId};
    </select>

    <select id="countAlarmDeviceByIds" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT
            COUNT( * )
        FROM
            ( SELECT device_id FROM tbl_alarm WHERE id IN ( ${_parameter} ) GROUP BY device_id ) t;
    </select>

	<select id="count" parameterType="com.tipray.bean.record.AlarmRecord" resultType="java.lang.Long">
		SELECT count(*) FROM tbl_alarm a, tbl_vehicle c
		WHERE a.vehicle_id=c.id
		<if test="begin != null and begin != '' and end != null and end != ''">
			AND a.alarm_report_time BETWEEN #{begin} AND #{end}
		</if> 
		<if test="deviceType != null and deviceType != -2">
			AND a.device_type = #{deviceType}
		</if>
		<if test="type != null and type != -2">
			AND a.type = #{type}
		</if>
		<if test="carNumber != null and carNumber != ''">
			AND c.vehicle_number LIKE CONCAT('%',#{carNumber},'%')
		</if>
	</select>
	
	<select id="findByPage" resultMap="fullResultMap" resultType="java.util.Map">
		SELECT <include refid="select_columns"></include>
		FROM
			tbl_alarm a,
			tbl_vehicle c
		WHERE
            a.vehicle_id = c.id
		<if test="entity.begin != null and entity.begin != '' and entity.end != null and entity.end != ''">
			and a.alarm_report_time between #{entity.begin} and #{entity.end}
		</if>
		<if test="entity.deviceType != null and entity.deviceType != -2">
			and a.device_type = #{entity.deviceType}
		</if>
		<if test="entity.type != null and entity.type != -2">
			and a.type = #{entity.type}
		</if>
		<if test="entity.carNumber != null and entity.carNumber != ''">
			and c.vehicle_number like CONCAT('%',#{entity.carNumber},'%')
		</if>
		order by a.id desc
		limit #{page.startRow}, #{page.rows}
	</select>

	<select id="findSameAlarmIdsById" parameterType="java.lang.Long" resultType="java.lang.Long">
        <![CDATA[
        SELECT
            t1.id
        FROM
            tbl_alarm t1,
            (SELECT id, vehicle_id, device_type, device_id, lock_id, type, alarm_report_time FROM tbl_alarm  WHERE id = #{id}) t2
        WHERE
            t1.vehicle_id = t2.vehicle_id
            AND t1.device_type = t2.device_type
            AND (t1.device_id = t2.device_id OR t1.lock_id = t2.lock_id)
            AND t1.type = t2.type
            AND t1.alarm_report_time <= t2.alarm_report_time
            AND t1.`status` = 0
        ]]>
    </select>

	<select id="getAlarmForEliById" parameterType="java.lang.Long" resultType="com.tipray.bean.record.AlarmRecord">
        SELECT
            a.device_id deviceId,
            a.device_type deviceType,
            v.vehicle_device_id terminalId
        FROM
            tbl_alarm a,
            tbl_vehicle v
        WHERE
            a.vehicle_id = v.id
            AND a.id = #{id};
    </select>
	
	<insert id="addEliminateAlarm" parameterType="java.util.Map" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO tbl_remote_alarm_eliminate ( user_id, vehicle_id, device_id, alarm_id_list, is_app, is_lnglat_valid, longitude, latitude )
        VALUES
            (#{userId}, #{vehicleId},IFNULL(#{terminalId}, 0), #{alarmIds}, ifnull(#{app}, 0), ifnull(#{isLocationValid}, 0), ifnull(#{lnt}, 0), ifnull(#{lat}, 0))
	</insert>

    <update id="updateEliminateStatus">
        UPDATE tbl_remote_alarm_eliminate
        <set>
            <if test="eliminateStatus == 2">
                finish_time = NOW(),
            </if>
            `status` = #{eliminateStatus}
        </set>
        WHERE
            id = #{eliminateId};
    </update>

	<update id="updateEliminateAlarmDone">
		UPDATE tbl_alarm
		SET
			eliminate_trigger_type = 6,
            eliminate_trigger_id = #{eliminateId},
            eliminate_time = NOW( ),
			`status` = 1
		WHERE
            id IN (${alarmIds})
	</update>

	<update id="updateAlarmEliminated">
		UPDATE tbl_alarm
		SET
            eliminate_trigger_type = 6,
            eliminate_trigger_id = #{eliminateId},
            eliminate_time = NOW( ),
			`status` = 3
		WHERE
            id IN
        <foreach collection="alarmIdList" item="alarmId" index="index" separator="," open="(" close=")">
            #{alarmId, jdbcType=INTEGER}
        </foreach>
	</update>

	<select id="findNotElimited" resultMap="fullResultMap">
		SELECT <include refid="select_columns"></include>
		FROM
			tbl_alarm a
			LEFT JOIN tbl_vehicle_track t ON a.vehicle_track_id = t.id,
			tbl_vehicle c
		WHERE
			a.vehicle_id = c.id
			AND a.status = 0
	</select>

	<select id="findNotElimitedAlarmDevice" resultType="com.tipray.bean.alarm.AlarmDevice">
		SELECT
			vehicle_id	vehicleId,
			device_type	deviceType,
			device_id	deviceId,
			lock_id		lockId,
			type		alarmType
		FROM
			tbl_alarm
		WHERE
			`status` = 0
		GROUP BY
			vehicle_id,
			device_type,
			device_id,
			lock_id,
			type
	</select>

    <resultMap id="alarmInfoMap" type="com.tipray.bean.alarm.AlarmInfo" >
        <id column="id" property="alarmId" />
        <result column="vehicle_id" property="vehicleId" />
        <result column="vehicle_number" property="carNumber" />
        <result column="device_type" property="deviceType" />
        <result column="device_id" property="deviceId" />
        <result column="type" property="alarmType" />
        <result column="type_name" property="alarmName" />
        <result column="station" property="station" />
        <result column="alarm_time" property="alarmTime" />
        <result column="vehicle_track_id" property="trackId" />
        <result column="lock_id" property="alarmLock.lockId" />
        <result column="lock_device_id" property="alarmLock.deviceId" />
        <result column="store_id" property="alarmLock.storeId" />
        <result column="seat" property="alarmLock.seat" />
        <result column="seat_index" property="alarmLock.seatIndex" />
    </resultMap>
    <sql id="alarmInfo_colums">
		a.id,
        a.vehicle_id,
        v.vehicle_number,
        a.device_type,
        a.device_id,
        a.type,
        fn_get_alarm_type ( a.device_type, a.type ) type_name,
        fn_get_alarm_station ( a.station_type, a.station_id ) station,
        DATE_FORMAT( a.alarm_time, '%Y-%m-%d %H:%i:%s' ) alarm_time,
        a.vehicle_track_id,
        a.lock_id,
        l.lock_device_id,
        l.store_id,
        l.seat,
        l.seat_index
	</sql>
    <select id="getAlarmInfoByAlarmDevcie" parameterType="com.tipray.bean.alarm.AlarmDevice" resultMap="alarmInfoMap">
        SELECT
        <include refid="alarmInfo_colums"></include>
		FROM
			tbl_alarm a
			LEFT JOIN tbl_lock l ON a.lock_id = l.id,
			tbl_vehicle v
		WHERE
			a.vehicle_id = v.id
			AND a.vehicle_id = #{vehicleId}
			AND a.device_type = #{deviceType}
			AND a.device_id = #{deviceId}
			AND a.lock_id = #{lockId}
			AND a.type = #{alarmType}
			AND a.`status` = 0
		ORDER BY
			a.alarm_time DESC,
			a.id DESC
			LIMIT 1
    </select>

	<select id="getAlarmInfoByAlarmId" parameterType="java.lang.Long" resultMap="alarmInfoMap">
        SELECT
			<include refid="alarmInfo_colums"></include>
		FROM
			tbl_alarm a
			LEFT JOIN tbl_lock l ON a.lock_id = l.id,
			tbl_vehicle v
		WHERE
			a.vehicle_id = v.id
			AND a.id = #{alarmId}
    </select>

	<select id="findNotElimitedForApp" resultType="java.util.LinkedHashMap">
		SELECT
			a.id,
			a.record_id,
			a.vehicle_id,
			c.vehicle_number,
			a.device_type,
			a.device_id,
			a.lock_id,
			a.`type`,
			a.station_type,
			a.station_id,
			fn_get_alarm_station ( a.station_type, a.station_id ) station_name,
			DATE_FORMAT( a.alarm_time, '%Y-%m-%d %H:%i:%s' ) alarm_time,
			DATE_FORMAT( a.alarm_report_time, '%Y-%m-%d %H:%i:%s' ) alarm_report_time,
			a.vehicle_track_id,
			a.track_is_lnglat_valid,
			a.track_lng,
			a.track_lat,
			l.id `lock.id`,
			l.store_id `lock.store_id`,
			l.seat `lock.seat`,
			l.seat_index `lock.seat_index`,
			l.lock_index `lock.lock_index`
		FROM
			tbl_alarm a
			LEFT JOIN tbl_lock l ON a.lock_id = l.id
			AND a.lock_id > 0
			AND a.device_type = 2,
			tbl_vehicle c
		WHERE
			a.vehicle_id = c.id
			AND a.`status` = 0
		ORDER BY a.alarm_report_time ASC, a.alarm_time ASC, a.id ASC
	</select>

	<select id="findAlarmRecords" resultType="java.util.LinkedHashMap">
		SELECT
			ta.id,
			ta.vehicle_id,
			ta.record_id,
			ta.device_type,
			ta.device_id,
			ta.lock_id,
			ta.`type`,
			ta.station_type,
			ta.station_id,
			fn_get_alarm_station ( ta.station_type, ta.station_id ) station_name,
			ta.vehicle_track_id,
			ta.track_is_lnglat_valid,
			ta.track_lng,
			ta.track_lat,
			ta.alarm_time,
			ta.alarm_report_time,
			ta.eliminate_trigger_type,
			ta.eliminate_trigger_id,
			ta.eliminate_station_type,
			ta.eliminate_station_id,
			ta.eliminate_vehicle_track_id,
			ta.eliminate_time,
			ta.eliminate_report_time,
			ta.`status`,
			ae.is_app,
			ae.is_lnglat_valid,
			ae.longitude,
			ae.latitude,
			u.`name` `user`,
			l.id `lock.id`,
			l.store_id `lock.store_id`,
			l.seat `lock.seat`,
			l.seat_index `lock.seat_index`,
			l.lock_index `lock.lock_index`
		FROM
			tbl_alarm ta
			LEFT JOIN tbl_remote_alarm_eliminate ae ON ta.eliminate_trigger_id = ae.id
			AND ta.eliminate_trigger_type = 6
			AND ta.`status` != 2
			LEFT JOIN tbl_user u ON ae.user_id = u.id
			AND u.is_invalid = 0
			LEFT JOIN tbl_lock l ON ta.lock_id = l.id
			AND ta.lock_id > 0
			AND ta.device_type = 2
		WHERE
			ta.vehicle_id = #{carId}
			AND ta.alarm_report_time BETWEEN #{beginTime} AND #{endTime}
			AND  <![CDATA[ta.`status` < 3]]>
	</select>

	<update id="updateAlarmStateForInvalidDevice">
		UPDATE tbl_alarm
		SET `status` = 4
		WHERE
			`status` = 0
			AND id NOT IN
			(
				SELECT
					t.id
				FROM
					(
						SELECT
							a.id
						FROM
							tbl_alarm a,
							tbl_vehicle v
						WHERE
							a.`status` = 0
							AND a.device_type = 1
							AND a.vehicle_id = v.id
							AND a.device_id = v.vehicle_device_id
							AND v.is_invalid = 0 UNION
						SELECT
							a.id
						FROM
							tbl_alarm a,
							tbl_lock l
						WHERE
							a.`status` = 0
							AND a.device_type = 2
							AND a.lock_id = l.id
							AND a.device_id = l.lock_device_id
							AND l.bind_status = 2
							AND l.is_allowed_open = 2
							AND l.is_has_bind = 1
					) t
			)
	</update>
</mapper>