<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tipray.dao.RemoteRecordDao">
	<resultMap id="fullResultMap" type="com.tipray.bean.record.RemoteRecord" >
        <id column="id" property="id" />
        <result column="vehicle_number" property="carNumber" />
        <result column="user_id" property="user.id" />
        <result column="user_account" property="user.account" />
        <result column="user_name" property="user.name" />
        <result column="type" property="type" />
        <result column="type_name" property="typeName" />
        <result column="remote_status" property="status" />
        <result column="status_name" property="statusName" />
        <result column="happen_time" property="createDate" />
        <result column="station" property="station" />
		<result column="is_app" property="isApp" />
		<result column="track_id" property="trackId" />
    </resultMap>
	<sql id="select_columns">
		r.id,
		r.happen_time,
		r.is_app,
		<!--r.is_barrier_gate,-->
		v.vehicle_number vehicle_number,
		r.type,
		fn_type2name ( 'remoteType', r.type ) type_name,
		fn_get_alarm_station(r.station_type, r.station_id) station,
		r.`status` remote_status,
		fn_get_remote_control_status(r.is_barrier_gate, r.`status`) status_name,
		IFNULL(u.account, IF(r.is_barrier_gate = 1,'道闸','未知')) user_account,
		IFNULL(u.`name`, IF(r.is_barrier_gate = 1,'道闸','未知')) user_name,
		s.vehicle_track_id track_id
	</sql>
	
	<select id="findAll" resultMap="fullResultMap">
		select
		<include refid="select_columns"></include>
		from
            tbl_remote_control r
            left join tbl_vehicle_seal_status s on r.vehicle_seal_status_id = s.id
            left join tbl_user u on r.user_id = u.id,
            tbl_vehicle v
        where r.vehicle_id = v.id
	</select>

	<select id="getById" parameterType="java.lang.Long" resultMap="fullResultMap">
		select
		<include refid="select_columns"></include>
		from
            tbl_remote_control r
            left join tbl_vehicle_seal_status s on r.vehicle_seal_status_id = s.id
            left join tbl_user u on r.user_id = u.id,
            tbl_vehicle v
        where r.vehicle_id = v.id and r.id=#{id}
	</select>

	<select id="count" parameterType="com.tipray.bean.record.RemoteRecord" resultType="java.lang.Long">
		select count(*) from 
		tbl_remote_control r left join tbl_vehicle_seal_status s on r.vehicle_seal_status_id = s.id,
		tbl_vehicle v
		where r.vehicle_id = v.id
		<if test="begin != null and begin != '' and end != null and end != ''">
			and r.happen_time between #{begin} and #{end}
		</if> 
		<if test="type != null and type != -2">
			and r.type = #{type}
		</if>
		<if test="carNumber != null and carNumber != ''">
			and v.vehicle_number like CONCAT('%',#{carNumber},'%')
		</if>
	</select>
	
	<select id="findByPage" resultMap="fullResultMap">
		select
		<include refid="select_columns"></include>
		from
			tbl_remote_control r
            left join tbl_vehicle_seal_status s on r.vehicle_seal_status_id = s.id
            left join tbl_user u on r.user_id = u.id,
			tbl_vehicle v
		where r.vehicle_id = v.id
		<if test="entity.begin != null and entity.begin != '' and entity.end != null and entity.end != ''">
			and r.happen_time between #{entity.begin} and #{entity.end} 
		</if>
		<if test="entity.type != null and entity.type != -2">
			and r.type = #{entity.type}
		</if>
		<if test="entity.carNumber != null and entity.carNumber != ''">
			and v.vehicle_number like CONCAT('%',#{entity.carNumber},'%')
		</if>
		order by r.id DESC
		limit #{page.startRow}, #{page.rows}
	</select>

</mapper>