<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tipray.dao.SealRecordDao">
	<resultMap id="fullResultMap" type="com.tipray.bean.record.SealRecord" >
        <id column="id" property="id" />
        <result column="vehicle_id" property="carId" />
        <result column="vehicle_number" property="carNumber" />
        <result column="status_incident" property="type" />
        <result column="pre_status" property="prestatus" />
        <result column="status" property="status" />
        <result column="trigger_type" property="authtype" />
        <result column="trigger_id" property="authid" />
        <result column="station" property="station" />
        <result column="trigger_time" property="createDate" />
		<result column="track_id" property="trackId" />
    </resultMap>
	<sql id="select_columns">
		s.id,
		s.vehicle_id,
        s.status_incident,
        s.pre_status,
        s.status,
        s.trigger_type,
        s.trigger_id,
        fn_get_alarm_station(s.station_type, s.station_id) station,
        s.trigger_time,
        s.vehicle_track_id track_id,
        v.vehicle_number vehicle_number
	</sql>
	
	<select id="findAll" resultMap="fullResultMap">
        SELECT
		    <include refid="select_columns"></include>
        FROM
            tbl_vehicle_seal_status s,
            tbl_vehicle v
        WHERE
            s.vehicle_id = v.id
	</select>

	<select id="getById" parameterType="java.lang.Long" resultMap="fullResultMap">
        SELECT
            <include refid="select_columns"></include>
        FROM
            tbl_vehicle_seal_status s,
            tbl_vehicle v
        WHERE
            s.vehicle_id = v.id
            AND s.id = #{id}
	</select>

	<select id="count" parameterType="com.tipray.bean.record.SealRecord" resultType="java.lang.Long">
		select count(*) from tbl_vehicle_seal_status s,tbl_vehicle v
		where s.vehicle_id = v.id
		<if test="begin != null and begin != '' and end != null and end != ''">
			and s.trigger_time between #{begin} and #{end}
		</if> 
		<if test="type != null and type != -2">
			and s.trigger_type = #{type}
		</if>
		<if test="carNumber != null and carNumber != ''">
			and v.vehicle_number like CONCAT('%',#{carNumber},'%')
		</if>
	</select>
	
	<select id="findByPage" resultMap="fullResultMap">
        SELECT
            <include refid="select_columns"></include>
        FROM
            tbl_vehicle_seal_status s,
            tbl_vehicle v
        WHERE
            s.vehicle_id = v.id
		<if test="entity.begin != null and entity.begin != '' and entity.end != null and entity.end != ''">
            AND s.trigger_time BETWEEN #{entity.begin} AND #{entity.end}
		</if>
		<if test="entity.type != null and entity.type != -2">
            AND s.trigger_type = #{entity.type}
		</if>
		<if test="entity.carNumber != null and entity.carNumber != ''">
            AND v.vehicle_number LIKE CONCAT('%',#{entity.carNumber},'%')
		</if>
		ORDER BY s.id DESC
		limit #{page.startRow}, #{page.rows}
	</select>

    <select id="findSealRecords" resultType="java.util.LinkedHashMap">
        <![CDATA[
        SELECT
            id,
            vehicle_id,
            device_id,
            record_id,
            vehicle_device_id,
            pre_status,
            `status`,
            status_incident,
            trigger_type,
            trigger_id,
            station_type,
            station_id,
            fn_get_alarm_station(station_type, station_id) station,
            store_id_list,
            HEX(lock_device_id_list) lock_device_id_list,
            vehicle_track_id,
            trigger_time
        FROM
            tbl_vehicle_seal_status
        WHERE
            vehicle_id = #{carId}
            AND trigger_time > #{beginTime}
        ]]>
    </select>
</mapper>